.container {
    margin: 1.5rem 0;
}

.card {
    margin: 0 1rem !important;
}

.infected {
    border: 1px solid rgba(0, 0, 255, 0.3);
    border-bottom: 10px solid rgba(0, 0, 255, 0.8);
}

.recovered {
    border: 1px solid rgba(0, 255, 0, 0.3);
    border-bottom: 10px solid rgba(0, 255, 0, 0.8);
}

.deaths {
    border: 1px solid rgba(255, 0, 0, 0.3);
    border-bottom: 10px solid rgba(255, 0, 0, 0.8);
}

@media only screen and (max-width: 500px){
    .container {
        margin: 50px 0;
        padding: 0 1rem;
    }

    .card {
        /* width: 200px !important; */
        margin: 1rem 0 !important;
    }

    .date_heading {
        font-size: 2rem !important;
    }

    .greeting {
        padding-top: 1rem;
        font-size: 1rem !important;
    }
}